.root {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: #f5f5f5;
    -fx-alignment: center;

}

.label {
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-text-align: auto;
}

.button:hover {
    -fx-background-color: #45a049;

}

.text-field {
    -fx-padding: 8px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 3px;
}

.combo-box {
    -fx-padding: 3px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 3px;
}

//ComparisonResultView
.savings-label {
    -fx-font-size: 12px;
}
.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.vehicle-panel {
    -fx-background-color: white ;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 3);
    -fx-background-radius: 50px;
    -fx-padding: 15px;
}

.results-view {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 3);
    -fx-background-radius: 5px;
    -fx-padding: 15px;
}
.mpg-value {
    -fx-background-color: #f1f8e9;
    -fx-padding: 5px;
    -fx-background-radius: 3px;
}
.top-section {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.mpg-input-panel {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);
}
.chart-bar {
    -fx-bar-fill: #555555;
    -fx-bar-width: 20px;
}

.chart-bar.efficient {
    -fx-bar-fill: #2ecc71;
}
